---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const currentYear = new Date().getFullYear();
import "../style.css";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="main-background"></div>
    <div class="border-rounded">
      <div class="ItA-Lupa"></div>

      <div class="ItAuditorsLogo"></div>
    </div>
    <div class="contact-section">
      <p class="centered-paragraph paragraph-title">
        Más de 10 años siendo parte de la industria tecnológica de Puerto Rico.
      </p>

      <Card>
        <div class="icon-container">
          <a href="tel:+17876802088" target="_blank">
            <img src="/phone.svg" height="80" width="80" alt="call" />
          </a>
          <a href="mailto:admin@itauditorspr.com" target="_blank">
            <img src="/email.svg" height="80" width="80" alt="email us" />
          </a>
          <a href="sms:+17879256612" target="_blank">
            <img src="/SVG/sms.svg" height="80" width="80" alt="message us" />
          </a>
          <a href="https://wa.me/17879256612" target="_blank">
            <img src="/whatsapp.svg" height="80" width="80" alt="whatsapp us" />
          </a>
        </div>
      </Card>
      <div>
        <p class="m-0 p-0 parr-responsive" style="margin-bottom: 6px;">
          Oficina: 787.680.2088
        </p>
        <p class="m-0 p-0 parr-responsive" style="margin-bottom:2rem;">
          Teléfono: 787.925.6612
        </p>
      </div>

      <Card>
        <div class="card-content">
          <div style="display: flex; gap:16px;">
            <img src="/facebook.svg" height="80" width="80" />
            <div
              style="display:flex; flex-direction: column; justify-content: center;"
            >
              <h2 class="m-0">Facebook</h2>
              <p class="m-0 text-card-p">Follow us!</p>
            </div>
          </div>
          <img src="/arrow.svg" alt="row-goto" height="40" width="40" />
        </div>
      </Card>

      <div class="d-flex card-2">
        <div class="" style="padding:0 1rem ;">
          <h2 class="m-0 p-0" style="margin-bottom: 4px;">
            ¡Ubicanos con un click!
          </h2>
          <p class="m-0">En google maps.</p>
        </div>
        <div class="card-box">
          <img src="/maps.svg" alt="location" height="60" width="60" />
        </div>
      </div>

      <Card>
        <div class="card-content">
          <div style="display: flex; gap:16px; align-items: center;">
            <img src="/vcard/www.svg" height="80" width="80" />
            <div
              style="display:flex; flex-direction: column; justify-content: center;"
            >
              <h2 class="m-0">Visítanos</h2>
              <p class="m-0 text-card-p">En nuestra página web.</p>
            </div>
          </div>
          <img src="/arrow.svg" alt="row-goto" height="40" width="40" />
        </div>
      </Card>

      <Card>
        <div class="card-content">
          <div style="display: flex; gap:16px; align-items: center;">
            <img src="/linkedin.svg" height="80" width="80" />
            <div
              style="display:flex; flex-direction: column; justify-content: center;"
            >
              <h2 class="m-0">Linkedin</h2>
              <p class="m-0 text-card-p">Follow us!</p>
            </div>
          </div>
          <img src="/arrow.svg" alt="row-goto" height="40" width="40" />
        </div>
      </Card>

      <p class="text-justify text-organizacion">
        Somos una organización que <span>provee soluciones</span> y servicios de
        <span>consultoría, desarrollo e implementaciones.</span>
      </p>

      <div class="security-pic">
        <img src="/team.svg" alt="" height="90" width="90" />
        <img src="/security.svg" alt="" height="90" width="90" />
      </div>
    </div>
    <div class="footer">
      <img
        src="/logo-negatico.svg"
        height="50"
        width="120"
        alt="ItAuditorsPR"
        style="margin-bottom: -1rem;"
      />
      <p>© COPYRIGHT {currentYear} · IT AUDITORS PR. ALL RIGHTS RESERVE</p>
    </div>
  </main>
</Layout>

<!-- <style is:global>
  .d-flex {
    display: flex;
  }

  .security-pic {
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
  }

  .text-organizacion {
    font-size: 20px;
    width: 90%;
    margin-bottom: 2rem;
  }
  .text-organizacion span {
    font-weight: 700;
  }
  .text-justify {
    text-align: justify;
  }

  .footer p {
    font-size: 16px;
  }
  main {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    margin: 0 auto;
    color: #ffffff;
  }
  .main-background {
    background: url("/Image-100.jpg") no-repeat;
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the image within the element */
    min-height: 50vh;
    width: 100%;
    max-width: 768px;
    overflow: hidden; /* Hide any overflow */
    margin: 0 auto; /* Center the element horizontally */
  }
  .borde-rounded {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ItA-Lupa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("/Avatar.svg") no-repeat;
    background-size: auto; /* Ensure the background image fits within the element */
    background-position: center; /* Center the background image */
    height: 500px; /* Make the element as tall as its container */
    width: 100%; /* Make the element as wide as its container */
    margin-top: -10rem;
  }
  .border-rounded {
    background-color: #ffffff;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0px 80px 80px;
    padding-bottom: 4rem;
    transition: all 0.5s ease;
  }
  .ItAuditorsLogo {
    background: url("/logo-original.svg") no-repeat;
    background-size: contain;
    background-position: center; /* Position the image at the bottom */
    height: 300px;
    width: 85%;
    margin: 0 auto;
    margin-top: -2rem;
  }

  .card-content {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 0.4rem;
  }

  .paragraph-title {
    font-size: 26px;
    font-weight: 300;
  }

  .paragraph-general {
  }

  .parr-responsive {
    font-size: 26px;
    font-weight: 700;
  }

  .m-0 {
    margin: 0;
  }
  .p-0 {
    padding: 0;
  }

  .icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0.2rem;
    gap: 1rem; /* Add some space between the icons */
  }
  .contact-section {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .centered-paragraph {
    text-align: center;
  }

  .card-2 {
    /* background-color: #000000b7; */
    width: 90%;
    min-height: 8rem;
    border-radius: 20px;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .card-box {
    background-color: #000000b7;
    border-radius: 20px;
    padding: 1rem 1.4rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000b7;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  @media (max-width: 640px) {
    .paragraph-general {
      font-size:;
    }

    .paragraph-title {
      font-size: 22px;
      font-weight: 300;
    }
    .border-rounded {
      padding-bottom: 1rem;
      border-radius: 0 0px 50px 50px;
    }
    .ItAuditorsLogo {
      margin-top: -3rem;
    }

    .icon-container img {
      height: 50px;
      width: 50px;
    }

    .card-content img:nth-child(1) {
      height: 60px;
      width: 60px;
    }
    .card-content p,
    h2 {
      font-size: 16px;
      /* width: 95%; */
    }

    .parr-responsive {
      font-size: 22px;
      font-weight: 700;
    }
  }

  @media (max-width: 480px) {
    .text-card-p {
      font-size: 16px !important;
    }
    .text-organizacion {
      font-size: 14px;
    }

    .footer p {
      font-size: 12px;
    }
  }
</style> -->
