---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const currentYear = new Date().getFullYear();
import "../style.css";
---

<Layout title="ItAuditorsPR">
  <main>
    <div class="main-background"></div>
    <div class="border-rounded">
      <div class="ItA-Lupa"></div>

      <div class="ItAuditorsLogo"></div>
    </div>
    <div class="contact-section">
      <p class="centered-paragraph paragraph-title">
        Más de 10 años siendo parte de la industria tecnológica de Puerto Rico.
      </p>

      <Card>
        <div class="icon-container">
          <a href="tel:7876802088" target="_blank">
            <img src="/vcard/phone.svg" height="80" width="80" alt="call" />
          </a>
          <a href="mailto:admin@itauditorspr.com" target="_blank">
            <img src="/vcard/email.svg" height="80" width="80" alt="email us" />
          </a>
          <a href="sms:+17879256612" target="_blank">
            <img
              src="/vcard/sms.svg"
              height="80"
              width="80"
              alt="message us"
              loading="eager"
            />
          </a>
          <a href="https://wa.me/17879256612" target="_blank">
            <img
              src="/vcard/whatsapp.svg"
              height="80"
              width="80"
              alt="whatsapp us"
            />
          </a>
        </div>
      </Card>
      <div>
        <a
          href="tel:7876802088"
          target="_blank"
          style="text-decoration: none; color: inherit;"
        >
          <p class="m-0 p-0 parr-responsive" style="margin-bottom: 6px;">
            Oficina: 787.680.2088
          </p>
        </a>

        <a
          href="tel:7879256612"
          target="_blank"
          style="text-decoration: none; color: inherit;"
        >
          <p class="m-0 p-0 parr-responsive" style="margin-bottom:2rem;">
            Teléfono: 787.925.6612
          </p>
        </a>
      </div>

      <Card>
        <a
          href="https://www.facebook.com/ITAuditorsPR/"
          target="_blank"
          style="text-decoration: none; color: inherit; width:100%; display:flex; justify-content: center;"
        >
          <div class="card-content">
            <div style="display: flex; gap:16px;">
              <img
                src="/vcard/facebook.svg"
                height="80"
                width="80"
                alt="Facebook ItAuditors"
                loading="lazy"
              />
              <div
                style="display:flex; flex-direction: column; justify-content: center;"
              >
                <h2 class="m-0">Facebook</h2>
                <p class="m-0 text-card-p">Follow us!</p>
              </div>
            </div>
            <img
              src="/vcard/arrow.svg"
              alt="row-goto"
              height="40"
              width="40"
              loading="lazy"
            />
          </div>
        </a>
      </Card>

      <div class="d-flex card-2">
        <div class="" style="padding:0 1rem ;">
          <h2 class="m-0 p-0" style="margin-bottom: 4px;">
            ¡Ubicanos con un click!
          </h2>
          <p class="m-0">En google maps.</p>
        </div>
        <a
          href="https://maps.app.goo.gl/FQJ84W6a8AGS1BZV6"
          target="_blank"
          style="text-decoration: none; color: inherit;"
        >
          <div class="card-box">
            <img
              src="/vcard/maps.svg"
              alt="location"
              height="60"
              width="60"
              loading="lazy"
            />
          </div>
        </a>
      </div>

      <Card>
        <a
          href="https://itauditorspr.com/"
          target="_blank"
          style="text-decoration: none; color: inherit; width:100%; display:flex; justify-content: center;"
        >
          <div class="card-content">
            <div style="display: flex; gap:16px; align-items: center; ">
              <img
                src="/vcard/www.svg"
                height="80"
                width="80"
                alt="Website ItAuditorsPR"
                loading="lazy"
              />
              <div
                style="display:flex; flex-direction: column; justify-content: center;"
              >
                <h2 class="m-0">Visítanos</h2>
                <p class="m-0 text-card-p">En nuestra página web.</p>
              </div>
            </div>

            <img
              src="/vcard/arrow.svg"
              alt="row-goto"
              height="40"
              width="40"
              loading="lazy"
            />
          </div>
        </a>
      </Card>

      <Card>
        <a
          href="https://www.linkedin.com/company/itauditorspr"
          target="_blank"
          style="text-decoration: none; color: inherit; width:100%; display:flex; justify-content: center;"
        >
          <div class="card-content">
            <div style="display: flex; gap:16px; align-items: center;">
              <img
                src="/vcard/linkedin.svg"
                height="80"
                width="80"
                alt="LinkedIN ItAuditorsPR"
                loading="lazy"
              />
              <div
                style="display:flex; flex-direction: column; justify-content: center;"
              >
                <h2 class="m-0">Linkedin</h2>
                <p class="m-0 text-card-p">Follow us!</p>
              </div>
            </div>
            <img
              src="/vcard/arrow.svg"
              alt="row-goto"
              height="40"
              width="40"
              loading="lazy"
            />
          </div>
        </a>
      </Card>

      <p class="text-justify text-organizacion">
        Somos una organización que <span>provee soluciones</span> y servicios de
        <span>consultoría, desarrollo e implementaciones.</span>
      </p>
      <button id="downloadVCard">Save Contact</button>

      <div class="security-pic">
        <img
          src="/vcard/team.svg"
          alt="TeamWork"
          height="90"
          width="90"
          loading="lazy"
        />
        <img
          src="/vcard/security.svg"
          alt="Security"
          height="90"
          width="90"
          loading="lazy"
        />
      </div>
    </div>

    <div class="footer">
      <img
        src="/vcard/logo-negatico.svg"
        height="50"
        width="120"
        alt="ItAuditorsPR Logo"
        style="margin-bottom: -1rem;"
        loading="lazy"
      />
      <p>© COPYRIGHT {currentYear} · IT AUDITORS PR. ALL RIGHTS RESERVE</p>
    </div>
  </main>
</Layout>

<script>
  const downloadButton = document.getElementById("downloadVCard");
  if (downloadButton) {
    // Your code here
    downloadButton.addEventListener("click", function () {
      //     const vCardData = `
      // BEGIN:VCARD
      // VERSION:4.0
      // FN:ITAuditorsPR
      // ORG:ITAuditorsPR
      // TEL;mobile:+1(787) 6802088
      // TEL;TYPE=CELL,VOICE:+1(787) 6802089
      // TEL;TYPE=WORK,VOICE,WHATSAPP:+1(787) 6802090
      // TEL;office:+1(787) 6802091
      // EMAIL;TYPE=PREF,INTERNET:admin@itauditorspr.com
      // ADR;TYPE=WORK:;;CVRF+7RX, PR-2;Aguadilla;00603;Puerto Rico
      // URL;ItAuditors:https://www.itauditorspr.com/
      // URL:Facebook:https://www.facebook.com/itauditorspr
      // URL:LinkedIN:https://www.linkedin.com/company/itauditorspr
      // END:VCARD
      //     `;

      const base64Image =
        "iVBORw0KGgoAAAANSUhEUgAAANYAAADWCAYAAACt43wuAAAACXBIWXMAAAsSAAALEgHS3X78AAAgAElEQVR4nO2de3wU5fX/35uEgGRhQVuTWElTINYKCQnotxKSSr/VFgi1YK0KfK3Y1ipQy0UUsBex3riooFVQ9Cdgy60qoCZcLCoYErxBQoLVkoCYtGSDCtlkA2GT3fn9Mbub3ezM7Ozu7C2Z98sxyczszNllPnvOc57zPI8BnVhgrMfvucCAAF/fBFR6/L03RHt0QsQQbQN6CLlApvPnt52/u7ZwcsJj+wJRfCfwFqFOGNCFpT1jEQU0wvkzN6rWyFPp3A47f+6NqjXdDF1YoTEAUUjXIApobDSN0YC9iCLb5/y9KZrG6PQscoE5wLuA0M23d53vNVa9rk6ckwusAD4n+g97tLbPnZ+BLjKdkNDFpIssaPQ2ljcDgOnAbMKYscvOyWaAaQDZ2dmYBpgwmUzkZOe4jxcUFgR0vf2l+92/V1VXYbFYsDRZqK6upsnSRHVVtWa2S3ACeApYh94mc6MLS2QscBuiqDQjOyebnOwcMr6dQWFBIRnfziAjI0PLW6imrq6Oui/qKN1fSt0XdVRVV4VDcOuA9egZxh4vrOmI3inkkMZkMlFYWEh2TjaFBYUBe51osb90P6X7S6muqqa0tBSLxaLFZSvp9GI9kp4orAGIma7bCDHcKywspGhiEYUFoqC6A9VV1ZTuL6WkuITS0tJQL3cC0YOtpIeFiT1JWC5BzSbwkiFA9EoTJ06koLCAiRMnYjKZNDUw1rBYLBQXF7O/dD/FxcWheLMmRA/WYwTWE4QVsqCmTpvGxIlFTJw4UVPDQkWI8P1KiospLi5h44YNwV6ixwisuwtrOvAAQYR82TnZzJw5k6Ie4JkCxWKxUFJczKpVq4JNgJwAHqQbt8G6q7DGEkQ/i8lkomjiRBbdvyhq2bt4o66ujscefYyS4ELFSmAu3TCL2N2ElYkoqEmBvCgjI4OZs2Yyddo03TsFicViYeOGDax6dhV1dXWBvnw7osBOaG5YlOhOwlpMgO2ojIwMFt2/iKnTpoXNqJ7Ixg0beOzRxwIVmKv9tTgsRkWY7iCsXGAtAYR9uqAiQ5ACqwRuJ87HjMW7sBYjJidUoQsqOgQpsAeJY+8Vr8IKyEuZTCaWLF2iCyrKbNywgYULFgaS5Ihb75UYbQOCYA6iqDLVnLzo/kW8tG4tV111VViN0vFPdk4Ov/r1r2lrO8/HH32k5iVpwC3AeeD9sBqnMfHksQYgCkpVxq+gsJDVz63W0+YxSl1dHTPumsF+9WVT2xG9V1x0LMeLsHKBbajwUnrYF18EGB6eACYTB6FhPAhrOmLflN80etHEiax+brXeFxVnWCwWZtw1g5LiYjWnNyH2ea0Lq1EhEuvCWouKMVImk4nVz62mKMZq+XQCo6S4mBl3zVDrvVYiCiwmiVVhDUAM/cb6O1FvS3UvAmx77UUMDWOu3RWLWcFMYCdwtb8TF92/SA/9uhkmk4lp06ZhMHhPOSBDJjAO2E2MiSvWPFYu4pRbiu0pk8nExk2b4maUbk/mfIcNAXA4HJzvaEdAAEEQZ6URBAQEBAEEBHolJJGclIQgQN/k3hwoO8DUKVPUhIZNwA+JoaRGLAlLlaiys7Mp2bED04A48lKRHjgVBdrtHdjs7XQ47Ngddto6bAiCgEMQ3D8dgkPid4fzb4l9Dgfnz55j9m13cfzfNf5MiClxxUooOB3YhB9RTZ02ja1bt9KnT5+IGKUjT7u9g/N2G2fb22g9f5ZzHeex2TvosIvCcn2XeP4UnH95/y54zKvWZZ8gYEhKZPyNP6PxZAOf/7tWyaQ+iJ3JjcSAuGJBWNMRs3+Kalm9ejWLFi2KiEE6vggIdNjtbjG5vJNDcDiPdz0br/3BCsv1+/fHFvDN9FQ+2FumZGYfxAIC1wIQUSPawpqOKCpZTCYTa9eu5ec33hgZi3S8sDvs2OwdnO+wiUJyOCTPC7ewBAS+c9kQMi8bQsWBj2i32ZTMjrq4oims6agQVcmOHRQUFkbGIh03HQ67j1dSIhLCEgSBb2UOYsToKyn7596YFle0hDUdP6LKyMhg67ZtZGd3j2nF4gEBAbvDQbu9w51IUP/arlfy3q+VsAQETBddyIjvj6Ly/Y85a21VMitq4oqGsHIRExWybars7Gz2vPO23ukbQewOB3aHHUeQKcxICksATBcO5AcTruXw+x9jOX1GybSxiP1c5qDeWJBEOt3uN6WenZ1N8Y6SuOr0ra2pocFsprZGPiWcl5dHWno6aWlpEbTMP4IgYHclIJz9S7j7lyT6m7yOOX8KAg7P44LD+Xfo6Xa7+7gDh8OBQ3Bgdx5zCA6am5t5ZNZCvqg5rvQ2I56Kj6SwMoEKuoGozGYz+0tLKS19j8qKCsVzu0ZTaenp5OXlUVBYSGEU246dovDwFHEorA6HHWtzC4/evYi6ms+V3nITkEeEJqyJlLAGIHoq2RG/8SCqXTt38sorryh6pk78h1RGo5Fx4yfwi5tuiqgncwuI8AsLICkhEQFINCSQmJDgcU3ve7WcP4sgCLS122jrsKkWlsPhoKWlhaV3/4G6WkVxVSJ6rrCXP0VKWO+iUFCbkZFBadn+mBXVrp07Wbv2JcwN4QrTBcaNn8Ddv/89RqMxTPdw3UnA+R9aCyvRkEhiQgJJCYkkJSSSnNQrJFvP2tpo67BhPX+OprMtnDnbLCssu+DA2tzC4l/P42vzKaXL7kUUV1iJRPJCcdSvyWTitW1bYzJRUVtby33z5/PGG6/TarViMCC7hYaB2tpa3nj9dXr37s0Vw4ZpYX7YMWCgV1ISFyT3xpjclwuSe9M7KZleiUkkJoT+aPVKTOKCXr0xXWAktf+FZF6UzsAL+pGUmIhdcHC+w+YONQUEknr1Iit3GB+/U0a7rV3uspnO7fWQDVQg3B5rOgppdZPJRPGOkphMqa9bu5Z1axV7BJwIpKWlMzRrKEOHZgGQmydGvOYGM2azGau1hdqaWiorxfaYvyx2bl4ejzz6qGbey4DBK+MWiscCgcSERHolJpGkgXhC4Vz7eczNX1P75X+wnj/r9lxf1BznybmLOaecir+dMA6WDKewchGTFbJs2LiRoolFYTQhcKxWK0see8zveKChQ4cybvx4CgoLA2of7S8tZf/+UvaXlmK1WmXPMxqNrHz6abdYg8VgMDiFFJqwDAYDSQlJ9EqMdrGONF9ZmzhxuoHjX/0Xu8NB5f4PeP7Pj/t7WR5hyhSGS1gDEEWVKXfCqtWrmTptaphuHxxWq5W5s39Pba18seeI3Dym3347ubmhrVVntVp59ZVXePWVVyQEJj7ooYjLgKHzXzcEYRkMCfRKTCTBkBDEu4w8rbZzHP/qJJ+aP2dfyR42LF+tdPoJRHFpnswIl7C2odCumjptKqtWK77hiCOKarasqIYOHcqsu+8OWVBS9123di2vvvKK7DkvvvQSQ4cOVX1Ng8HgFf4FIywMBpISEuJGUF2x2dv5tOEE986Zx4dvvad06nbEUciaEg5hzUGc/EWSgsICiktKwnDb4PEnqhtvvJFZd98dVhsqKyv54/33S4aHnZ7Lv7gSDAZc/6zBCAsgMSHReZ34x3r+LDdcP4kPD3ygdNpcxDk0NEPrT0+xXWUymag6Uh1zafWlSx5j965dXvsEQXygZ919N+PGjXPvf/XVV1m/di0FBQUs0HgYi1IompaWxgv/7yXFhEaCwYDBYHAnRwIVVoLBELceSgmLxULO8Gx/I5E1bW9p/SkqptFisQN4965d7N61G/E7pvN7pl8/IyueesotKqvVyp/++AdWPfNXWlut7N69S/qCIWA0GlnxlKtNZcDTJrPZzNLHHpN9rUtUwWDAQGIch33+cGWf/aAmBawaLVM8ixFHcEry2JIlMZkBXHjffdi8hh+ID/PSZcu54oor3OfNmzOHw5WHAQNGYz/mzrsnoHaPWpKTk/nfH/2Ijz78kNOnT3vZVFdXR1p6us99EwwJQYsqwWAgISFBTHZ0Y1JTUzGZBvD2nj1yp6QhftB7tbifVp+mYggYi+0qgKVLlviEgAALFi7kJ05PVVtby7w5c9xtn6FDh3LfwoVhEZUnZrOZO379a582l9FoZNOWLe6QMNGQ4Oyh7uwcUxsKikmOnsXEoiJ/sz9pEhJq5fsVO4E3bNyo0W2041htLW/t3uVTQVFQUOAWldVqZdmSJV6ienLlyrCLCsQ21cJFi3zsa2218tqrrwKhhX8JPVBUIPad+mmOaBISaiGsxSgU165aHZvz/r322mt4t2PEEO++hQvd5/z5T3/k2LFjGAwwNEsUVbhr+TwZU1DAmIJCHztfe/VVWltbg2oTGQhejN0Bk8nkr6snFw3W5QpVWJmIy5NKUjSxKObaVSCGWVIh4MxZs9zCeXn9emebCoYMzeLJFZEVlYtZv/udzz6r1crWV1+LuC3dBRXP5WxULhMlR6jCWovM+CoV3wxR463du30KaNPS0twhoNlsZv26dYDYplmwYEFURNXVLk927twRBWu6D34iKdeSUUETirDGojAUJFZDQIC3du/CM29jMMDPb/y5++/ly5a6RXfb9NsYEoE2lRK3TZ/u09ZqbDRTW6tmXJiOFCq++MeiYu0AOUIRlqyiCwoLYjIEBGg0mzGbG51/dbZbfvyTce7jrrT6iNxcbvh59KddS0tLY0RuHl3bWvv3+53bHM+5JHS8KZpY5G+a8qC9VrDCmoNCDPrs6tV0ThASW1vl4cM+9uaPGUOK0YiAK6khcsPPb4y6va7tJz/5iY/dFRX+s8LuCnV9k9yeVfZamYjPesAEI6wBKKxUv3DRopgctOii6nClT1g1wqOwtqxMnGk1NS2N/DFjomWmD3l5I332ucZ3yeEIYPqynkpGRgYLlUvTHkDFooddCUZYc+RulJGRwV0zZwRxycjRaG6ka0jl6pc6dqyWU41mDAYYUxA7ojIYDHzrkktIT0/z+VKQKxxWM8mmjshdM2coOYMBBOG1AhXWABTS6wsWLYrZhIWLwxKhYM6IEfyl7EFu23QrLrFtOP13rl5/JZNfu54F797Dlk830mA9GXF7AZKc/VVpaZfQ9UtBqhreIeitqkAwmUz+CqpnE6DXClRYit4q1gYuqsGVRi+pfZPE052lk46BdgAarCfZV7eXFR89weStP+WhssURFZhndYVUxUdXj+VwDlLUCYyp06Zq6rUCEZait3r2uVWB3DdIQm+udg2lhgwd4jzmjcPoEUp5FCqUHHuTyVt/ysqPnsBqa9HEJqUtMaHzn8jYz7cvravHEkPAaKcE4nPz8wwH5LUCEZastyooLKCgoIDwv3ktMEhsnYfUzrq0+dONzHzrt9ScPqqRXb4kGLyrzg0ozw5l19tVIVFQUKCUfg/Ia6kVlp+21UK5Q3FIF7EpcPT0UWa+dWfYxOXprUR8vxRc4nLN76cTGn6eZdVeS62wJsldsNNbxSetMjMlJZ5xtbeUH9YWWwsz37qTBmuDpnZ19VZypKaKM0Tp3kobVHgt2blcPFErrAfkDtw1I7bT613pGj4dO3YMgH7J/bA7ExYACVb1UXKLrYUFe+/RxD4XiRKV61L9VmlpaXpqXWP8PNOyWvBEzdMzCZkqi4yMjJgtXZIjNTVNHODnsTWaG8m68DLsA+3utktSY1JA1z16+igvHl6jiY0JMkM7WltbJdtYXsKKfg4g7reioiKlDGEmKryWGmHdJndgwaKFUf8Q1G4NLQ00tDSQKjG5ZtXhw4xKHYXD6MBhFAADvf6TrOKj8ebFw2toaGkI2dYEn7aVmP0TU+vebaxvXnyx9+t1NMFPW0tWEy78CSsTGXWaTCamTo2ffqsXDq/hkPkgOTk5PseqqqoYmSaWDHWkdgBiKBio1wLY8lnoo6WlBjBWVvrWBRqNRi5OvTjk++n4MnXqVKViB9kozoU/YU1XunG80GBtoKS2mIONB8kZMcLn+IHyckamjqJfcj/aLm9z7+9TdUHA9yo5VhySrVLeCqCszLeSXepLQkc7/Dzj05UO+hOWrMuL9ZpATzZ/ugnA7bE621ed80gcKC+naMhE7APtdKR2YDBAr1NJJDUGthRNi62F9+r3Bm2rVNLCarVSVlbmZbPBQEwVCXdH/DzjiuGgkrDGIuPuCgoKYrqCvSv76vYCouc6evooo/PznUc62yrbt23jlu9NAaAt55x7f8qBFAy2wOaIOHomuH4tl+C7Ula236PCotPmzvehEwhqm7uDMjKUupIyURgIqSQsWUVOmTY12rmIgDbPPqaSY8Vce911Pu+pqqqKL49/SdGQibSndtB+qTjXYEJrIn0Ppih8TL4cMh8Myk65SV7Wr1/vs290fr57DJm+BbYFwhTl+tfb5A4oCUs2aTEljtpXh8wHvf4uqS1mdH4+qampPudu+NvfmHvVPPol96N1dCuOFDGNnXysN70/6xN2W6XmS3/ttVcxm31Xkpx0ww1ht0cHpvhPYkgiJyzZSosJRfHVb9WVFlsLJceKmXbrrT6dxVVVVewp2cOfxjyAkCxgvaYFIVn8juv7cQrJx3urusehxoP+T5KgazbQbDbz8svrffquckaM0BMXEUThmZetxJAT1s/krhRvHcJSvHh4Ddded51kZ/HGDX/n0vZB3Py9KdgH2jk7qtUtwN7H1AkrGKS81bJly7BaW+nad/V/t94aNjt0fPHzzEtqRclj+WAymeLOY6UbL/HZ12Bt4MXDL3DHXXf5HGu1trLiiSe444o7KRoyEdvg87SObsWe1kFHWoeqe45MHRWwnV291apVz3L4sG/fVf6YMWTr3iqiTCgqCjgclBLWWLpRGJhuTJfcv+XTTWRmZ0pm1o4fO8bC++5jbu58iob8lPOD22i+1sK57LNhs9MzcbF7926vSW1cGI1G5t97b9hs0JHHTzg4tutOKWF1uzDwmoxrfPa12Fp4qPxB5t5zDykSk3F6iutmZxpeLSPTgvFYorC2bn2N5cuX+tQDAjz4l4fomxJYhlJHGwINB+U8lg/xGAa6+MGgsZL7D5kPsql2I0uWLZMsbj1+7Bh3z5zJ9RdOZunYxyXDSimyBl4WkH0Ggzh3xfLly1i1ahW+Y64MzJo1ixEjRuhjrqKEn3BwbNcdXYU1AJkFDsbE8ZiroqETZUPCFw+v4VPhX8yddw9dH2aDwcCpU6f4/axZnDnYxMtFG/jNiN9iTO4ney9jcj9ZIctx/Ngx7rlnHrt375Y8PmbMGG64QZypVxdW9FDQQC5dmk9dhSWbl/czY2jM85sRv5U99lDZg2SM+jZz582TPeeF55/n/rkL+R+uZtvkN5hz5T2SnumaAETV2NjIiiee4HczZ7rHhUnhqrrQRRVd/GjASztdc7xrkSkurKyuiqsyJikWvDuffXX7xD+6vPN+yf1Y+sPl2I6fZ8UTT9La2ip7ncGDB/OzSZO4On80zUIzhxoPUnPmKDWnj/LH/Af8hozVVVW8veef7Pmna3VBb8FI6eeJJ55kWPZw7A6770GdiFBXV0dutm8Rt5N1wO2uP7oKqwKJUDAjI4PKat/5+OINq62FmbtncPT0UdlpLf405s98z3AFK594kuPHj/u9ZnZODtk52WRn55CaejEXS1R0VFdVc6qxkerqKqqrqmlsbJS4kjw33HADM2bMpMNh14UVZXKzR1BXVyd1qBJxNUjA+/EaAJyResWUqVN5dvWzmhoYLdziUiiUveV7t3DHFXey8e8beH379gha501qahr33nsvI5xDXdrtHfow/Cgza8YsNsmvUDoQaALvxb2vRiYMnDptCldedZWW9kWN5MTeTP6uWGd3qPGQ5DlHvjrC+40HuG3cbYy9+od82XiKU6caZacdCwf5+WN47LHH3OH3sWPHePrpp/n3Z58x6srA0/k62lBfX8fbe96WO7wbOAHewpqOTKr9z4sfkCxajWdGpo2iaMhErDYr5tYGbHab1/Gvz33N9qNb6TuwL7OnzGHQJRmcajzFmTNNeGYNpTf5uf/8YTQa+cMf/sAvf/lLkpPF6QG2bt3K4sUP8J/6ev792WdgQK++iBK9+/Rh3Utr5Q5/AewF71DwXWSEddoiGSF2Kw41HvKphAe47MLLGJk60p1ir66u5u1/7uH9AwcUExxKpKSkcPXoq7l69GgAVj65gtZWKzk5I7j33vvcX2KNjY0sX75Mcr75x5YuJTsnO6j764TGhaaBcoe2A5PBW1ifIzGwsaCggDdK3tTatm5BdXU1R6qqqa6uorHxFKdkkhLZOdmkpBgZPHgww3Oyyc72FsTBDz/GarXy4x//2L3vrbfe4rnnVjmLcH2zhkZjCv9v3TpS9EqMiHN90U/lFv07AXwHOoUlm7i4a8YMHl3yaDjs03HSO6lzRiir1crjjy+nvLzc7+uyc7J5dMmScJqmI8H9C+/nOfkF6wYCTa5piCSrLQCyc4ZrbVdUmLF7BhVdQz0V7R/vUwSvHSNTR/Hsj5/TwDoRq9XKjBl3qU7HV1dVs2nDRn+jXHU0xo8mcoG9CR5/SBLvncKhEslah8bGxoD7uDZu2EB1dXWYLNKRwo8mMqGzpEl2ovd4rhH0S4xVCA0ZMoT8ICaIeeQvD8m273S0x48mMqFTWL7jKhAr2gWBbrGBFjoy+FxEK9tczJ9/L0ajMaA0fWtrKw8/9HDUP+OetClUul8DfuYVHJ6tp3MjjdFo5NZbf0mgfWWfHz/Oi2u0mTtexz/+tOES1lipg7G+nnCkCN3TBcbkyZPJyZEt9nTiO2brzTfe4IP33w+/gTp+x2Ypeqyu/S3dAR+RBKwa33AwVKSGg9wlMR+HGp5asYJTp06FapKOH/xpIwGFjGB/U3+t7Ylbwum1pK49ZMgQbg1iNqbW1lYeffjhoKtCdDQhNwGFjGB39FjaoG0VrtwAxkmTJgdVo/n58eO8+MILoZqlo8CYAsV58wcEsrh3tyH0cDDI18heSvpiRqOR+fODm5XpnT17eOdt2SpsnTCTgMLE7nrywptwhYNKQ+5zcnK47rofyx5X4sU1a/hcxWBNncDxo41cxZXVelS6XSDACM83ifG7fwaXcADpmXABLul3CfPvWsCBA+UeK46oo7W1lUcfeYSVTz/NluMbg576OhbIGngZs0fJz0kSafxoY0DgSxZ2EwLWkYrXafXgel7/oBkuu/By7rlnPg8+uDjga51qbOSpFSu4fe6v2fLZJqy2Fk1sjDQTBk+MtgkB0YPaWJHujdKONRWryb4ym+ycHARBUAwdpfjg/ff5eM+H/GH0n8NkYXhJT0lnwuAiiPoCQF03efwIK9qGR+ZD8Hq7AZ8W4D2CMKPF1sLi/X9ylzsBboGp2QBefOEFBtkGcdPlt2hmZ6S46fLAZiKOBRIAf1383QOJ5z6WfVhX2/Z+8S6fnv8XkydPDvxaToE98vAjzB41j/QU6clLYxFjcj+nt4orvq3Yj9Uj0da5hUTXezz5wTJ+dvMkhgwZEtT1TjU28vaet+PKA9x8+S2KMw/HKJk9qI0lTSgCibS4TlpPsqbiOebNvyfo672zZw+Fg64J3bAIcdN34y90hR6VvEC9EmIsRvQ0Z9O/NmBJaeL6n/0sqETG8ePH4yYUnDB4Yjx6K8CPsKKdbohU6iJUr+W+RxgF6XnpJz5YzrT/+z/3rLuBJDFaW1tj7XtDll/l3BH15ybYZ6pneSwIs9fSvvLdE9elj57+N1uOb2TOvLmBvV4QGJ49HHNrg/bGacyEwRNJixPPKkFTArAv2lbEAvHyLe6yc/O/NvLNwd90z02olu9fPZqKOKjAGB9nHcJdONzzPBbEtdcC8fItthYeLn+Q2fPm0rdviuxQf09SUlL40XXX8lJVbFe+56WOIi91ZLTNUGRvjfT05C56prBk0E4PkRFXReNBSurf5NFlS0hJ6Ysr+pdqX/Xtm8IjS5dQUv8mDTEeCsZDJ/arh5RHDvRcYYU9Qxj+lRME4OmPn+Tf/Iunn32GH113reR52Tk5PLpsiXjewSfDblcopKekU3hpbHcHvFdbwZdW5WnXFYtwj1RX96wKd8SHNVhJ+Lw2lIsFcM+Hy//CDwZdw+w753HHnXdy/NhxPj9+jItTU8Xt0m/yUvUL/OOzzeE1RgN+lXNHtE3wy2uV72A9+bXiOUmIqyM8IHXQYmnW3qpYQu2Dr/K8kXLtgiDEZTBAgu88vAA0WE9y0nrS69h79fsord9H1sDLyEsdiXFwP77iS16v30rpAfn8lDG5X8CLkYcLYy9jzCctdn/6Pl9Zm+g4Z1M6bW+PGTYSSEQnqSMV4nrmx7LzeQeMwWCgj8ec7i4TANZUrub5Ct+prQUQl2yVW1RPwv6sgZfx12u1s7s7c9bWxvbDe1Wdq9jGOtITpi6WUVy00++CIAS1LKpi56Wank0dWTZ9/BZnbW0AtJz8SvFcVygoicVi0dKuqBNyk6fLBcL9jLbbO0hMSPR/ogQu2yTfr6fhQZRF9USOnqqj/HjnOmUhhYJ1dXU940OXUZyakDCcn48AdDjsJAUpLtc1IBI5yu7LufbzrH+/2Gtf22nlkdiuULBS6mC99Org8Yng9UP2uKrdEfyuae/o0OR2ehQYPC9/sIOvW72jt3NnZIVVCZ3CapI6o66uXivbYop4esAEBDrsHRpeTxdZIOytOUjVf2t89redls2YN0GnsCTzsd3KY6khVr2WvQNHGEJOXWDK/NfyJdtksoDn5EPBfeDHYwGU7S8LwbQYQ5D8VfYcv7sjKq72yN1MhzNnm1n93qvSx2pPSu534uWxJNtY0J28lrP5rkZcMkTz293ucNBhDzz9rhM4be3nWf9BCefaz0sePycfBkKXNpa8sOq7ZztLkRiNjzrsHTgER7TN6Na0tdt4ofx1Tlrk+6kUwkCQSF5IhoNl+/cHaWIsEoDXisGOYwGB9g49JAwXbe02Xnr/DRoURAVwuva/cofcOvKsvJD0WkeqjwRhYnakB7EAABLdSURBVCwT3+JyCIIeEoaBtg4b6z8oxtysXFwL0PJfWeG5NeQpLMnMoMVi6UbtrCCIQXHFaKQat7R12Pj7hztpbDnt99xzp1toPyfd9sJDQ349FnSzzCCgRSJDp3twquUMaw+8qUpUAF/X/kfpsKTHkhdWWXcTFmgREurEN7Vf/ofNB9/C0qZ+FZfTNbLtK/DQkGet4Annltn17O7gsaS1YRCPeNT/yRbqRmDQok7k+ODEEcqPV9MR4AiCr2tkPdYJ5wb4DhvZK/WK+rq6HtXO0j1X96Wl7SxbDv6TD058EvBrz55u5qx8H9Zezz+6Ckt2qGncey1ByWsRgTkwNERDGwwYMMgsetfdOHLyGK9UvM1XrbKFRoqcO6GYhvfSjiqPBd2knRWAuBSfXX+V8gES1AysgrYzQbnEFagt8bB9fbaZHZ+Uc+DzamxBloaNHpzDpW19lU7Z6/lH1/FYJ5BpZ+0s2YHwbFA2xRaC+Ez6fkcH0N5yHez8ESUMuCcS1NLpCII46Uac03r+HFUna6g5VY/dEXzFyq3fn8D3M4fz0M13y51yAo/2FUjP0rQdmNN1p8Vi4Uj1EYZnDw/awGgyYegERqaJk70cajxEhVlqwkX/4spLG+meNCbNGJ0pkL3F7DJUW4EJgkN87wYDhjjL2py1tfH51yf5zHyCtg7ZPidVTL1qHP/z7WEcqT6iNKJ+e9cdUsLah4SwADZv2sTD2Y8Eb2UUKRrqsXhZJRwyH1J+XGTENTJ1JL8a8Zuw2BgIvt7UM5zVSGSC4B6uYjAkyC5AHiuctbXxWeMJPv/qJA7BEZKXuqBXb279/gSGfONSQHz2FfDJTUhNJrMdmbrBnSU7gjAxRvHX3nKeI/FrzODV5vLCgHs2Xg0MFye26aDd3k6Hwx5T0zV02Dv4b9Mp3v+8mrc/+5C60+aQr5lu+gZ3FtzgFhUoPvtNqPRYIDbEJnXdWV9XF9fhYCedDSTF9pbEq2LnkerEZZP0+0AzLyYI4HDY6aADAwYSExJITEjAYIjEhMqdn3yHw07T2RZOtZyhseU059tt2DWq+s+79LuMu2I0fXolu+95pPqIUnfTXqmdcsJ6HQlhAWzetDFuw0FJAkhmeL0oBpEXmMdeT5GFgENwYLfbETrED8glssSERM1DRrvDTqutDcs5K01nrZw514LD4cAhOALu4JWjT1IyP7r8KkZ8K8vnmJ8w8HWpnXLC2g6slTqws2QnDz/ajYQFQYordvGUjaLIup4c7P0EBza7HaEDZ5gokGAQhYbBQK/ERBDEREivROlHziE4aGu3ISAONOyw2zlra8NqO0dbuw2H4HCLSWsyBqYxYVg+pguMksd3luxUerlPGAjywnLFjZLh4M6SHYwvmqBsbRwirZ/4FJcL/yILwz0FgXahA5tdTH4IziSIQ3BI/O5w/i2xz+HQLMSTondSLwozcxmVcbnsOTtLdiiFgbL5CKXgeL3szXYoKjg+UfzmDrA6I0bx6WTuwXwvLZNf5V+vKCrw+6zLakRJWLJq3LxxU7ebJRdQyBRCXLorBVwCc0BMZfnCTXr/b3DTyGu59vL/oXdSL8VzLRYLmzfKtq8ks4Eu/KVz1skdWLP6+ejXqgS5KT5G/sQVA/ZrjeAMu7oz6f0vomj4GK7PLuQbKQNUfc5rVj+vdMl1Sgf9CUvW1W3eFPtrLcni7+H0J75oEybjBH9rrcYhgy/6Fj/53tWMu2I06f2/EdBr/TzjstoA/8KqRGEoSTyLy+/z00PF5SKeq95TkvswLH0wP80uYPR3skntd2HA19i8abO/vivZgcGgbqlUWWVuUc7vxzxqxRWzAguzcQYMJDrT5gmGrsvgxRa9EpMYNDCV72cOY9wVo7ki7TukJF8Q9PX8PNuK3gr8LJXqZB2wAhjQ9UDZ/jLKy8rIHzNGxWViE7+F3M40e0xn28OcUxcFZiAxMUEsbxIcdDgcCEJ0Z4vqk5SM6QIj3zQO4OIgvJIcZWVlSuMPm/DTvgJ1wgJ4CpnlVJctXcb2NyQ7n+MGVeIChHjIugchsoDej8FAoiGRxIREBHrhcNhFodntdGAP64fTN7kPfZP70K9PCqY+RmfZkYiWt12+dJnS4afUXEOtsFYCs5HwWuX7yyiLc68FKsQFMdPuUm1D2D0ZJCYkkkgiyYli6trVudvhXMjBZm9HEAQEBNraFRdro1diEkkJiQiCQO+kZHG52F7JJCf2om9yH+3fgATlZWWUK3urlWquo1ZYrpz9dKmDy5cuY1ucey1QKa4YIWDNdFVjmN5ngiGBBAPuxfL6EhlBaIUfbyXbt9uVQMqSH5Q7UO5sa8ULSt/48ZhtDiqHEcZ+sXjFj7cCBQ10Ra3HAnHo8Tq6i9dSyEa4B+OG+K1ec7oGa7s4gX6DtQFza+dYoRZbC7WnfRc0AzC3NtBgbejcEURbKU4cb0zhx1uto8vweyUCERaIip0udaA8zjKEAmDwk+qTCw2tthZqTtfSYmuh5owojorGCgDM1i6icN/NicT1/IrA9fIA1KJWZBWNh/jF9htITxGnGchzTjswdGAWxmQjWQOzMCb3C+Ku8UV5Wblm3gqC+2Jbi4y4BmUM4uNKqbkkYosXK1/ixYqXAKHzA1D4JFR5LslhJ12RF1jA/xAhuKRgXpo1MIs0Y7r7Z1pKOnmpecEbEWNcmTuSevmlgdcBtwdyvUA9FojKnYREhrC+rp41zz3Pb++6M4jLRgMDgktcfkJDVRlDg+uq8vfrzN17nxiwUwrCi3V9qadV/qg5U0PNmRpK69/z2p9mTCfdKbKhA7PIujCLtJToTLITLGuee15JVE0E6K0g+O+9xcj0a5lMJj6qPIjJZAry0uHFarOy4oOnKan1nMNAfNQM7v9Jo7rNFaL38mOG4n21JphLiiHkZeSm5pGXOtIZTkoPIow2FouFq3JHKY3WeBDxeQ+IYP8pBgCfI+G1AG6ecgtPP/vXIC+tLS02K4caKjhkruBQQwU1roSBzHB7f+IC9aGhiksRFoGF9MLwkDUwi7zUkeQ5xRYrQvv9rLvZIl/z2gR8B5Updk9C+finIzN8H2Dbm9ujlsg4+nUN++pKee+LUo5+XeP1Lr3esOS7FzQRV7oxnXRjmtd10lPSSfeZi7BTWEMvzKKf6kSBN1aPRIoUDa0NmK1miX1dEy2RIWtgFoWDfkDhoB+QNdB3nolIUFZWxg0/lZzaxcXtqChfkiLU77UKIFfqwKCMQby97136Rygk3PdFKfu+KOVQQ4VXVk4qORGouIzJRi67UPzHTzN2iiPrwqFuIRiTjWRdGJ0HRCtqztRgtYlL2lhtLdQ6heopypozR93naEWaUWyjFV4qCi0SNFss/OiaHyq1rSqBoLMzoQprLPCu3MH5C+5j/oJ7Q7yFPIcaKig+upN9X5Q6/7FdHVDe58ll/lx/jkzP8/qZlyb+vOzC2G0bRBurzer2kJWNYibY1eVQ0RhEZtj5T2dMNlI46AeMH1IU1qzj40uX87hyv1UefoaGKKFFJL4CmZlzAbZqHBI2tJgprtlJ8dEdNLR4hDbuhIG0uEal59Ev2UjWRVmiYHobGZnWfdLFsUhFY4Xb87m8ofTU3tKkGdOZMGQC4wdP0HQ673L/IeBKYG4o99BCWAMQQ8JMqYNahYQHGyrYVP0K+06UymfdDPDdi4aSdVEWlxjTGJmeR3o/Z1tHJ2YwWxtoaDVT2XiIBmsDtadrFNuHAIWDfsAvvndzyF5MRQh4AtFbBbfWjxOtckeTgG1yB2+ecgtPBZklLP73Tt48upNDDRXeBwzw3YuyGJmey2UXZXFJvzR3KKcTn9ScqXGLrNJ8yEdsAmJlyIQhExg/JLjp92YrZwEBJqMwSYxatEzKbkNm9lyAdX97mXFF41Vf7ODJSh7c+ygnW8RERL/eRkZdkucW06hLJEQUvxU1OjJUNFZQ0SiKrKLxkDtxkm5M5/7RfwzIg+3asZPpt/5S6ZTtiMIKGS2Fpdi3ZTKZ2LP3XQZlDFK8yNGva3m8/K8c/aqGKy/JY9QluYy6RPRKOjougVWYRcFlDbyM318122/Kvr6unmvH/lCpIzjoPisptO5GHItClnD48OFsfWO7bHvr4MlKDp6sYJRTUDo6/hA9WoWz41naezVbLNxw/SSOHDmidKkforCiaaCEo39eMUt485RbeOqZ2KjK0OkZzP6d33ZVyFnAriRqeTEnuxHbWpKpuE+OHMFkMjHqyivDcGsdHW9eeO55/vrU00qnVKJRu8qTcFWUZSKm4CXbWwBr/7ae8RO638IKsY7QgzI8u3bs5PZbb1M6pQkxtX5C63uHs1RTMQXf32Ri6xvbGDY83hex04lFPjlyhBuun0yz8hoDmqTWpQh3DfRiZIaXgCiujyo+jlg9oU7PoNli4aq8K/2JKqjhIGoJ9xqXi1H4RhCzNX6/VXR0VKPymdpOGEUFkRm1MwAxBS+bPx82fDhb39imey6dkHCJ6hPltHolYmpdk/4qOSI1HC4TP8kMXVw6oaBSVGFLVnQlkuNMcxE9l6y48seM4bU3ZPMdOjqyXHvN/6oR1Q8JYShIIIS7jeVJJX5muikvK+PneptLJwCaLRZ+7t9TgfjsRURUEJ2ZEaajMKQf9LBQRx0qwz8IYYh9sERrypHp6OLSCYFYFhVEdy6f6eji0gmCWBcVRH+SrOn4EZdeoaHjicqKCoiiqCCyyQsp1uEnoeH6diovK4+MRToxS3lZeVyICsJT3R4olcAXKIw+Pn/+PP/YtNlZFT8qcpbpxAwvPLeGGXf8lvPnz/s7NeqigtgQFqgQF8C777zDf+rryR+TT+8+8bWgmU5wNFssLJh/H88oD/1wEROigui3sboyHZmFxD0ZNnw4a/+23u8wf534pr6unttvvU1NkqIJcaDiurAbpZJYExaoqNAAManx1DNPM26C+glq4gUhHpeV1JhdO3Yy5+7ZatpTEa2oUEushIKemBFHIV+NzChkENtdr2/bTrPFwshRI+ndu3fEDNQJH80WC48+9AgP/PFPatpTroLaz8JvWWDEosdyMQBxoORYfycOGz6clc88pafk45xPjhxhzu9mqwn9QJz4ZTJhrlIPllj0WC7agPWIArta6cQvT53ib+teBgzkj8mPhG06GvPEsseZccedfHnqlJrTVwJTEJ+RmCSWheViN3AYGAcopgIPlJWza8cusrKy9MRGnHCgrJxf/XI6r29TNUK+CVFQT4XXqtCJB2GBGEP7bXeB6L3+sXkLzZZmRl05Sk/LxyiuttSC+fep9VKu2ZT2htUwjYgXYYGY1HgeFaEhwKGDB3l5/ctcnHqx3vaKMf6xeQtTb57CAfXVNCsRRWX2d2KsEMvJCyUmIdYYKqbkXQwbPpy/PPIQo/X2V1Q5UFbOn//wJ7XJCRBDv9sJ00xK4SRehQWiqNbip1rDk/wx+ax45mkGDdLbX5Gkvr6eub/7faD1ntsRRRWTWT9/xLOwXATkvQBumnIz99x3ry6wMFNfX88Ty5bzj01bAnlZ3HopT7qDsEAU1QrEkijV3DTlZu6487d6G0xjPjlyhBeeXxOooEAsSZpLnHopT7qLsFyMRRRYQEuVjB6Tzz33zdfbYCFyoKycJ5Y9HkhSwkUloqD2am5UlOhuwnIxB3EGXtXhIYjLus67bz7jxo+nv6l/eCzrZjRbmtm1cydPLntcaflROZoQZ6Rdqb1l0aW7CgtEUbkEFhD9TSbGTRjHb+78LcOGD9Pesm7AgbJy/rF5C7t27Ap2Vi2XoOI+7JOiOwvLRSaiuKYH8+JBGYO46Zab+cWUm3t8sqO+vp5XNm3hH5u3BOOdXKxDFNUJreyKRXqCsFxkEoLAQOwPu2nKzYwek99jPNknRz5h946d7NqxK5D+JynW0QME5aInCctFJiEKDERP9pPx4xk9Jp/8Mfn079892mTNzc2Ul5VzoKyc3Tt3huKZXKyjBwnKRU8UlotMRHHNJsAkhxTDhg9n9Jh8UWj5+XGT/Gi2NFNeLgrpQFl5qF7JRRNioew6epigXPRkYbkYgNjJPJsA0/RKDBo0iGHDhzMsexij8/O5NGNQ1Nto9fX1/KeungPl5XxS/QmfHDlCfX3IHsmTSkRBbaebJiXUogvLm1xEgU1CAy8mxbDhw+lv6u8eNzY6X/zZ32QKud32yZFP3Bm6A+ViX5KrjCiIviW1NCEK6SlibHh8NNGFJY3Li/2MAGoRtUSN0DyFFAW2A6+jeyedIBmA2BbbBgg9fNvm/CzC4s11ei4uka0FzhD9Bz3c2xnne52OLqaA0EPB0MhFrE+8xvkz3h++JsR6vX3On3qbKUh0YWlLrnMbQafoYpm9iOI57PypC0kjdGGFn1zEPrNc4Nsev0fKuzUhCuYE4jTert91EYURXVjRJdO5ga93u0blNfZ1+Xuv8+cJemjnbCzw/wGRnFvmpAXJ/wAAAABJRU5ErkJggg=="; // Replace with your base64 string

      const vCardData = `
BEGIN:VCARD
VERSION:3.0
N;CHARSET=UTF-8:;;; ;
FN:ITAuditorsPR
COMPANY:ITAuditorsPR
TITLE:

ADR;TYPE=WORK:;;CVRF+7RX, PR-2;Aguadilla;00603;Puerto Rico
TEL;TYPE=Work,pref:
TEL;CELL;TYPE=Mobile,VOICE:
TEL;TYPE=WORK,VOICE:

TEL;TYPE=Work,Fax:
TEL;TYPE=Home,VOICE:
TEL;TYPE=sms:
URL;TYPE=Messenger:
TEL;TYPE=SIGNAL:
EMAIL;TYPE=Email:
URL;TYPE=Digital Business Card:



URL;TYPE=Location:
KEY:OPENPGP4FPR:
UID:SMART vCARD-100466190
URL;TYPE=Website:

URL;TYPE=Calendar:
URL;TYPE=WhatsApp:
URL;TYPE=WeChat:



PHOTO;ENCODING=b;TYPE=PNG:${base64Image}:
NOTE;CHARSET=UTF-8:

END:VCARD
  `;

      const vCardDataEncoded = encodeURIComponent(vCardData);
      const vCardUrl = `data:text/vcard;charset=utf-8,${vCardDataEncoded}`;

      // Create a link element
      const a = document.createElement("a");
      a.style.display = "none";
      a.href = vCardUrl;
      a.download = "contact.vcf";

      // Append the link to the body
      document.body.appendChild(a);

      // Programmatically click the link to trigger the download
      a.click();

      // Clean up
      document.body.removeChild(a);
    });
  }
</script>
