---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const currentYear = new Date().getFullYear();
import "../style.css";
---

<Layout title="ItAuditorsPR">
  <main>
    <div class="main-background"></div>
    <div class="border-rounded">
      <div class="ItA-Lupa"></div>

      <div class="ItAuditorsLogo"></div>
    </div>
    <div class="contact-section">
      <p class="centered-paragraph paragraph-title">
        Más de 10 años siendo parte de la industria tecnológica de Puerto Rico.
      </p>

      <Card>
        <div class="icon-container">
          <a href="tel:7876802088" target="_blank">
            <img src="/vcard/phone.svg" height="80" width="80" alt="call" />
          </a>
          <a href="mailto:admin@itauditorspr.com" target="_blank">
            <img src="/vcard/email.svg" height="80" width="80" alt="email us" />
          </a>
          <a href="sms:+17879256612" target="_blank">
            <img
              src="/vcard/sms.svg"
              height="80"
              width="80"
              alt="message us"
              loading="eager"
            />
          </a>
          <a href="https://wa.me/17879256612" target="_blank">
            <img
              src="/vcard/whatsapp.svg"
              height="80"
              width="80"
              alt="whatsapp us"
            />
          </a>
        </div>
      </Card>
      <div>
        <a
          href="tel:7876802088"
          target="_blank"
          style="text-decoration: none; color: inherit;"
        >
          <p class="m-0 p-0 parr-responsive" style="margin-bottom: 6px;">
            Oficina: 787.680.2088
          </p>
        </a>

        <a
          href="tel:7879256612"
          target="_blank"
          style="text-decoration: none; color: inherit;"
        >
          <p class="m-0 p-0 parr-responsive" style="margin-bottom:2rem;">
            Teléfono: 787.925.6612
          </p>
        </a>
      </div>

      <Card>
        <a
          href="https://www.facebook.com/ITAuditorsPR/"
          target="_blank"
          style="text-decoration: none; color: inherit; width:100%; display:flex; justify-content: center;"
        >
          <div class="card-content">
            <div style="display: flex; gap:16px;">
              <img
                src="/vcard/facebook.svg"
                height="80"
                width="80"
                alt="Facebook ItAuditors"
                loading="lazy"
              />
              <div
                style="display:flex; flex-direction: column; justify-content: center;"
              >
                <h2 class="m-0">Facebook</h2>
                <p class="m-0 text-card-p">Follow us!</p>
              </div>
            </div>
            <img
              src="/vcard/arrow.svg"
              alt="row-goto"
              height="40"
              width="40"
              loading="lazy"
            />
          </div>
        </a>
      </Card>

      <div class="d-flex card-2">
        <div class="" style="padding:0 1rem ;">
          <h2 class="m-0 p-0" style="margin-bottom: 4px;">
            ¡Ubicanos con un click!
          </h2>
          <p class="m-0">En google maps.</p>
        </div>
        <a
          href="https://maps.app.goo.gl/FQJ84W6a8AGS1BZV6"
          target="_blank"
          style="text-decoration: none; color: inherit;"
        >
          <div class="card-box">
            <img
              src="/vcard/maps.svg"
              alt="location"
              height="60"
              width="60"
              loading="lazy"
            />
          </div>
        </a>
      </div>

      <Card>
        <a
          href="https://itauditorspr.com/"
          target="_blank"
          style="text-decoration: none; color: inherit; width:100%; display:flex; justify-content: center;"
        >
          <div class="card-content">
            <div style="display: flex; gap:16px; align-items: center; ">
              <img
                src="/vcard/www.svg"
                height="80"
                width="80"
                alt="Website ItAuditorsPR"
                loading="lazy"
              />
              <div
                style="display:flex; flex-direction: column; justify-content: center;"
              >
                <h2 class="m-0">Visítanos</h2>
                <p class="m-0 text-card-p">En nuestra página web.</p>
              </div>
            </div>

            <img
              src="/vcard/arrow.svg"
              alt="row-goto"
              height="40"
              width="40"
              loading="lazy"
            />
          </div>
        </a>
      </Card>

      <Card>
        <a
          href="https://www.linkedin.com/company/itauditorspr"
          target="_blank"
          style="text-decoration: none; color: inherit; width:100%; display:flex; justify-content: center;"
        >
          <div class="card-content">
            <div style="display: flex; gap:16px; align-items: center;">
              <img
                src="/vcard/linkedin.svg"
                height="80"
                width="80"
                alt="LinkedIN ItAuditorsPR"
                loading="lazy"
              />
              <div
                style="display:flex; flex-direction: column; justify-content: center;"
              >
                <h2 class="m-0">Linkedin</h2>
                <p class="m-0 text-card-p">Follow us!</p>
              </div>
            </div>
            <img
              src="/vcard/arrow.svg"
              alt="row-goto"
              height="40"
              width="40"
              loading="lazy"
            />
          </div>
        </a>
      </Card>

      <p class="text-justify text-organizacion">
        Somos una organización que <span>provee soluciones</span> y servicios de
        <span>consultoría, desarrollo e implementaciones.</span>
      </p>
      <button id="downloadVCard">Save Contact</button>

      <div class="security-pic">
        <img
          src="/vcard/team.svg"
          alt="TeamWork"
          height="90"
          width="90"
          loading="lazy"
        />
        <img
          src="/vcard/security.svg"
          alt="Security"
          height="90"
          width="90"
          loading="lazy"
        />
      </div>
    </div>

    <div class="footer">
      <img
        src="/vcard/logo-negatico.svg"
        height="50"
        width="120"
        alt="ItAuditorsPR Logo"
        style="margin-bottom: -1rem;"
        loading="lazy"
      />
      <p>© COPYRIGHT {currentYear} · IT AUDITORS PR. ALL RIGHTS RESERVE</p>
    </div>
  </main>
</Layout>

<script>
  const downloadButton = document.getElementById("downloadVCard");
  if (downloadButton) {
    // Your code here
    downloadButton.addEventListener("click", function () {
      //     const vCardData = `
      // BEGIN:VCARD
      // VERSION:4.0
      // FN:ITAuditorsPR
      // ORG:ITAuditorsPR
      // TEL;mobile:+1(787) 6802088
      // TEL;TYPE=CELL,VOICE:+1(787) 6802089
      // TEL;TYPE=WORK,VOICE,WHATSAPP:+1(787) 6802090
      // TEL;office:+1(787) 6802091
      // EMAIL;TYPE=PREF,INTERNET:admin@itauditorspr.com
      // ADR;TYPE=WORK:;;CVRF+7RX, PR-2;Aguadilla;00603;Puerto Rico
      // URL;ItAuditors:https://www.itauditorspr.com/
      // URL:Facebook:https://www.facebook.com/itauditorspr
      // URL:LinkedIN:https://www.linkedin.com/company/itauditorspr
      // END:VCARD
      //     `;

      const base64Image =
        "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIGlkPSJDYXBhXzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZpZXdCb3g9IjAgMCA3NTguNjYgNzU4LjY2Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6bm9uZTt9LmNscy0ye2ZpbGw6dXJsKCNEZWdyYWRhZG9fc2luX25vbWJyZV8yKTt9LmNscy0ze2ZpbGw6dXJsKCNEZWdyYWRhZG9fc2luX25vbWJyZV80MSk7fS5jbHMtNHtmaWxsOnVybCgjRGVncmFkYWRvX3Npbl9ub21icmVfMyk7fS5jbHMtNXtmaWxsOnVybCgjRGVncmFkYWRvX3Npbl9ub21icmVfMjctMik7fS5jbHMtNntmaWxsOnVybCgjRGVncmFkYWRvX3Npbl9ub21icmVfNDEtMyk7fS5jbHMtN3tmaWxsOnVybCgjRGVncmFkYWRvX3Npbl9ub21icmVfMjcpO30uY2xzLTh7ZmlsbDp1cmwoI0RlZ3JhZGFkb19zaW5fbm9tYnJlXzQxLTIpO30uY2xzLTl7Y2xpcC1wYXRoOnVybCgjY2xpcHBhdGgpO30uY2xzLTEwe2ZpbGw6dXJsKCNEZWdyYWRhZG9fc2luX25vbWJyZV8yNy0zKTt9PC9zdHlsZT48Y2xpcFBhdGggaWQ9ImNsaXBwYXRoIj48Y2lyY2xlIGNsYXNzPSJjbHMtMSIgY3g9IjM4MS4xMSIgY3k9IjM3Ny41NSIgcj0iMzU2LjE4Ii8+PC9jbGlwUGF0aD48bGluZWFyR3JhZGllbnQgaWQ9IkRlZ3JhZGFkb19zaW5fbm9tYnJlXzIiIHgxPSIzNzcuMDIiIHkxPSItNjExLjYyIiB4Mj0iMzk2Ljk0IiB5Mj0iNDIwMy42MyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIvPjxzdG9wIG9mZnNldD0iLjE0IiBzdG9wLWNvbG9yPSIjZjFmMmYyIi8+PHN0b3Agb2Zmc2V0PSIuMjciIHN0b3AtY29sb3I9IiNlNWVjZTkiLz48c3RvcCBvZmZzZXQ9Ii4zOSIgc3RvcC1jb2xvcj0iI2QzZTFkYSIvPjxzdG9wIG9mZnNldD0iLjUyIiBzdG9wLWNvbG9yPSIjYjhkMWM0Ii8+PHN0b3Agb2Zmc2V0PSIuNjQiIHN0b3AtY29sb3I9IiM5NmJkYTkiLz48c3RvcCBvZmZzZXQ9Ii43NiIgc3RvcC1jb2xvcj0iIzZiYTQ4OCIvPjxzdG9wIG9mZnNldD0iLjg4IiBzdG9wLWNvbG9yPSIjM2E4NzYwIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjMDE2NzM0Ii8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjMDYzIi8+PC9saW5lYXJHcmFkaWVudD48bGluZWFyR3JhZGllbnQgaWQ9IkRlZ3JhZGFkb19zaW5fbm9tYnJlXzMiIHgxPSIzNDMuNDIiIHkxPSIzMTYuMDgiIHgyPSI3ODYuOTYiIHkyPSIzMTYuMDgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiNmNWY1ZjUiLz48c3RvcCBvZmZzZXQ9Ii4xNyIgc3RvcC1jb2xvcj0iI2YxZjNmMiIvPjxzdG9wIG9mZnNldD0iLjMiIHN0b3AtY29sb3I9IiNlOGVkZWEiLz48c3RvcCBvZmZzZXQ9Ii40MyIgc3RvcC1jb2xvcj0iI2Q3ZTNkZCIvPjxzdG9wIG9mZnNldD0iLjU0IiBzdG9wLWNvbG9yPSIjYzBkNmNiIi8+PHN0b3Agb2Zmc2V0PSIuNjUiIHN0b3AtY29sb3I9IiNhMmM0YjMiLz48c3RvcCBvZmZzZXQ9Ii43NSIgc3RvcC1jb2xvcj0iIzdkYWU5NiIvPjxzdG9wIG9mZnNldD0iLjg1IiBzdG9wLWNvbG9yPSIjNTE5NTczIi8+PHN0b3Agb2Zmc2V0PSIuOTUiIHN0b3AtY29sb3I9IiMxZjc4NGIiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiMwNjMiLz48L2xpbmVhckdyYWRpZW50PjxyYWRpYWxHcmFkaWVudCBpZD0iRGVncmFkYWRvX3Npbl9ub21icmVfMjciIGN4PSI1MTguMDgiIGN5PSIyNDQuMTkiIGZ4PSI1MTguMDgiIGZ5PSIyNDQuMTkiIHI9IjczNC4xMiIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iIzI4OTUyNCIvPjxzdG9wIG9mZnNldD0iLjQxIiBzdG9wLWNvbG9yPSIjMjU5MjI0Ii8+PHN0b3Agb2Zmc2V0PSIuNjQiIHN0b3AtY29sb3I9IiMxZjhhMjciLz48c3RvcCBvZmZzZXQ9Ii44MiIgc3RvcC1jb2xvcj0iIzEzN2MyYiIvPjxzdG9wIG9mZnNldD0iLjk4IiBzdG9wLWNvbG9yPSIjMDI2OTMxIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjMDYzIi8+PC9yYWRpYWxHcmFkaWVudD48cmFkaWFsR3JhZGllbnQgaWQ9IkRlZ3JhZGFkb19zaW5fbm9tYnJlXzI3LTIiIGN4PSI1MTcuNTYiIGN5PSIyNDQuNCIgZng9IjUxNy41NiIgZnk9IjI0NC40IiByPSI3MzEuNTYiIHhsaW5rOmhyZWY9IiNEZWdyYWRhZG9fc2luX25vbWJyZV8yNyIvPjxyYWRpYWxHcmFkaWVudCBpZD0iRGVncmFkYWRvX3Npbl9ub21icmVfMjctMyIgY3g9IjUxOC4wOCIgY3k9IjI0NC4xOSIgZng9IjUxOC4wOCIgZnk9IjI0NC4xOSIgcj0iNzM0LjEyIiB4bGluazpocmVmPSIjRGVncmFkYWRvX3Npbl9ub21icmVfMjciLz48bGluZWFyR3JhZGllbnQgaWQ9IkRlZ3JhZGFkb19zaW5fbm9tYnJlXzQxIiB4MT0iMzMzLjY1IiB5MT0iLTc2LjQ1IiB4Mj0iMjU5LjAyIiB5Mj0iNjkxLjcyIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjMWQxZDFiIi8+PHN0b3Agb2Zmc2V0PSIuMjciIHN0b3AtY29sb3I9IiMyZTJlMmQiLz48c3RvcCBvZmZzZXQ9Ii41MyIgc3RvcC1jb2xvcj0iIzNjM2MzYiIvPjxzdG9wIG9mZnNldD0iLjY0IiBzdG9wLWNvbG9yPSIjMzUzNTM1Ii8+PHN0b3Agb2Zmc2V0PSIuNzkiIHN0b3AtY29sb3I9IiMyNDI0MjQiLz48c3RvcCBvZmZzZXQ9Ii45NSIgc3RvcC1jb2xvcj0iIzA5MDkwOCIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PGxpbmVhckdyYWRpZW50IGlkPSJEZWdyYWRhZG9fc2luX25vbWJyZV80MS0yIiB4MT0iNDM4Ljg2IiB5MT0iLTY2LjIzIiB4Mj0iMzY0LjIyIiB5Mj0iNzAxLjk0IiB4bGluazpocmVmPSIjRGVncmFkYWRvX3Npbl9ub21icmVfNDEiLz48bGluZWFyR3JhZGllbnQgaWQ9IkRlZ3JhZGFkb19zaW5fbm9tYnJlXzQxLTMiIHgxPSIyODUuMDkiIHkxPSItODEuMTciIHgyPSIyMTAuNDYiIHkyPSI2ODciIHhsaW5rOmhyZWY9IiNEZWdyYWRhZG9fc2luX25vbWJyZV80MSIvPjwvZGVmcz48ZyBpZD0iQ2FwYV8xLTIiPjxjaXJjbGUgY3g9IjM3OS4zMyIgY3k9IjM3OS4zMyIgcj0iMzc5LjMzIi8+PGcgY2xhc3M9ImNscy05Ij48Y2lyY2xlIGNsYXNzPSJjbHMtMiIgY3g9IjM4MS4xMSIgY3k9IjM3Ny41NSIgcj0iMzU2LjE4Ii8+PHBhdGggY2xhc3M9ImNscy00IiBkPSJNNTY1LjE5LDUzNy44NmMtMTIyLjI5LDAtMjIxLjc3LTk5LjQ5LTIyMS43Ny0yMjEuNzdzOTkuNDktMjIxLjc3LDIyMS43Ny0yMjEuNzcsMjIxLjc3LDk5LjQ5LDIyMS43NywyMjEuNzctOTkuNDksMjIxLjc3LTIyMS43NywyMjEuNzdaTTU2NS4xOSwxMjkuOTNjLTEwMi42NCwwLTE4Ni4xNSw4My41MS0xODYuMTUsMTg2LjE1czgzLjUxLDE4Ni4xNSwxODYuMTUsMTg2LjE1LDE4Ni4xNS04My41MSwxODYuMTUtMTg2LjE1LTgzLjUxLTE4Ni4xNS0xODYuMTUtMTg2LjE1WiIvPjxwYXRoIGNsYXNzPSJjbHMtNyIgZD0iTTMwMy4xOSwyNTEuODhjLTQuNTgtMzEuMTYtMzMuNTQtNTIuNzEtNjQuNy00OC4xMy0xLjM2LjItMi42OS40OC00LjAxLjc5LTYuMzUsMzguMjcsMTkuMTQsNzQuODksNTcuNCw4MS45NywxLjY2LjMxLDMuMzQuNSw1LjAyLjcsNS42NS0xMC40Myw4LjE0LTIyLjY4LDYuMjktMzUuMzJaIi8+PHBhdGggY2xhc3M9ImNscy01IiBkPSJNNDU1LjkxLDU0OC4wMnYtMTQxLjk3aDEyMy44bDI0LjU1LTUzLjQzaC0xNzAuNThjMi43NCwzLjYyLDUuNTMsNy4yMSw4LjIxLDEwLjg3LDQuNDksNi4xNCw2LjMsMTMuNTEsNS4wOSwyMC43Ni0xLjIxLDcuMjMtNS4zOCwxMy44MS0xMS40NCwxOC4wMy00LjAzLDIuODEtOS4wMSw0LjMtMTQuMzgsNC4zLTkuMzUsMC0xOC41OC00LjU4LTIzLjUyLTExLjY4bC0yNi43OS00Mi4yOWgtNzUuMjJ2NTMuNDNoOTIuNjF2MTM5LjE2Yy0zLjA1LS4wMy02LjExLS4wNS05LjE4LS4wNS0zOC4zNywwLTc0Ljk1LDIuNTUtMTA4LjM2LDcuMTd2LTcxLjQ3aDEwLjY5di0xNjcuNGgtNzQuOHYxNjcuNGgxMC42OXY4MC4zNWMtMzguODQsOC44Ni03MC43NywyMC44Mi05Mi40OSwzNC44MSw2Mi42NS0xOC41NCwxNTMuMzYtMzAuMiwyNTQuMjgtMzAuMnMxOTEuNjIsMTEuNjYsMjU0LjI3LDMwLjJjLTM2LjA0LTIzLjIyLTEwMC4xNC00MC44NS0xNzcuNDItNDcuOTlaIi8+PHBhdGggY2xhc3M9ImNscy0xMCIgZD0iTTIwOC42MywyMzMuODVjLTYuMDUsOS4wNC04Ljk5LDIwLjItNy4yOCwzMS44MSwzLjY1LDI0Ljg0LDI2Ljc0LDQyLjAyLDUxLjU4LDM4LjM3LDIuMDMtLjMsNC0uNzUsNS45Mi0xLjMtMjYuODYtMTQuNTYtNDUuMDQtMzkuNDktNTAuMjEtNjguODhaIi8+PHBhdGggY2xhc3M9ImNscy0zIiBkPSJNMzk3LjI0LDIzMi41M2MtMy4xMSwxNi43NC0xMC4xMywzMS41Ni0yMS4yNiw0NC4zMi0yLjU2LDIuOTQtMy40Niw1LjExLS42MSw4LjA1LDEuNzIsMS43NywxLjQsMy4wNi0uNjgsNC40Ny04LjQxLDUuNzItMTYuNzgsMTEuNTEtMjUuMDQsMTcuNDYtMi40MiwxLjc0LTMuNzIsMS4wMy00Ljg0LTEuMTktMS43My0zLjQyLTQuMDEtMy4xOS03LjMzLTIuMDItMjEuMjcsNy41NC00Mi45MSw4LjUxLTY0LjA3LjM5LTM4LjQxLTE0LjcyLTYwLjA5LTQ3Ljg5LTYxLjMxLTg0LjM4LTEuNjktNTAuODMsMzYuMi05Mi42NCw4Ni42Ny05Ni40Myw1NC4xMS00LjA3LDEwMC42OSwzOS45NCw5OS41Nyw5NC4xNS0uMSw1LjA2LS43MiwxMC4xMi0xLjEsMTUuMThaTTM4MC40NiwyMjkuOWM3LjU5LTQxLjIzLTE5LjU4LTgxLjI1LTYwLjM1LTg4Ljg5LTQyLjM0LTcuOTQtODIuNjUsMTkuNDgtOTAuMzUsNjEuNDQtNy41Niw0MS4yMywyMC4wMiw4MS4zMSw2MS4yMiw4OC45NCw0Mi4yMyw3LjgxLDgxLjcxLTE5LjMxLDg5LjQ4LTYxLjQ4WiIvPjxwYXRoIGNsYXNzPSJjbHMtOCIgZD0iTTQwMS41MiwzOTMuNzdjLTE0LjMyLTIyLjU1LTI4LjYtNDUuMTMtNDIuODktNjcuNy0uMy0uNDgtLjUzLTEtLjg0LTEuNDdxLTUuMjctNy43NiwyLjYxLTEzLjI1YzYuMzMtNC40MSwxMi44LTguNjUsMTguOTYtMTMuMjksMi45Ni0yLjIyLDQuNTYtMS44OCw2LjcyLDEuMDMsOC4yOSwxMS4xOSwxNi44MSwyMi4yMSwyNS4yNCwzMy4zLDguOTcsMTEuNzksMTguMTEsMjMuNDQsMjYuODUsMzUuMzksOC4xNSwxMS4xNCw0LjczLDI1LjI0LTUuMjUsMzIuMTktOS41Nyw2LjY3LTI0Ljg1LDMuMTktMzEuNC02LjIxWiIvPjxwYXRoIGNsYXNzPSJjbHMtNiIgZD0iTTI2My4yMywyNjYuMDhjLS43OS0uMTQtMS41NS0uNTItMi4xNi0xLjEyLTE2LjM4LTE2LjE0LTIzLjU0LTM0LjI4LTIxLjg3LTU1LjQ2LDIuNTUtMzIuNTEsMzIuNDctNTAuNjksMzMuNzQtNTEuNDUsMS45Ni0xLjE3LDQuNDktLjUzLDUuNjUsMS40MywxLjE3LDEuOTUuNDMsNC40Mi0xLjQyLDUuNjYsMCwwLTI3LjUzLDE2LjgyLTI5Ljc1LDQ1LjAxLTEuNDYsMTguNiw0LjksMzQuNjEsMTkuNDQsNDguOTQsMS42MiwxLjYsMS42NCw0LjIxLjA0LDUuODQtLjk5LDEuMDEtMi4zOCwxLjQtMy42NywxLjE3WiIvPjwvZz48L2c+PC9zdmc+";

      const vCardData = `
BEGIN:VCARD
VERSION:3.0
N;CHARSET=UTF-8:;;; ;
FN:ITAuditorsPR
COMPANY:ITAuditorsPR
TITLE:

ADR;TYPE=WORK:;;CVRF+7RX, PR-2;Aguadilla;00603;Puerto Rico
TEL;TYPE=Work,pref:
TEL;CELL;TYPE=Mobile,VOICE:
TEL;TYPE=WORK,VOICE:

TEL;TYPE=Work,Fax:
TEL;TYPE=Home,VOICE:
TEL;TYPE=sms:
URL;TYPE=Messenger:
TEL;TYPE=SIGNAL:
EMAIL;TYPE=Email:
URL;TYPE=Digital Business Card:



URL;TYPE=Location:
KEY:OPENPGP4FPR:
UID:SMART vCARD-100466190
URL;TYPE=Website:

URL;TYPE=Calendar:
URL;TYPE=WhatsApp:
URL;TYPE=WeChat:



PHOTO;ENCODING=b;TYPE=SVG:${base64Image}:
NOTE;CHARSET=UTF-8:

END:VCARD
  `;

      const vCardDataEncoded = encodeURIComponent(vCardData);
      const vCardUrl = `data:text/vcard;charset=utf-8,${vCardDataEncoded}`;

      // Create a link element
      const a = document.createElement("a");
      a.style.display = "none";
      a.href = vCardUrl;
      a.download = "contact.vcf";

      // Append the link to the body
      document.body.appendChild(a);

      // Programmatically click the link to trigger the download
      a.click();

      // Clean up
      document.body.removeChild(a);
    });
  }
</script>
