---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'
---

<Layout title="Welcome to Astro.">
    <main>
        <div class="main-background">
            
        </div>
        <div class="border-rounded">
            <div class="ItA-Lupa"></div>

            <div class="ItAuditorsLogo"></div>
        </div>
        
        <div class="contact-section">
        <p class="centered-paragraph paragraph-title" >Más de 10 años siendo parte de la industria tecnológica de Puerto Rico.</p>

        <Card >
        <!-- <div> -->
         <div class="icon-container">
            <img src="/SVG/phone.svg" height="80" width="80" alt="call"/>
            <img src="/SVG/email.svg" height="80" width="80" alt="call"/>
            <img src="/SVG/sms.svg" height="80" width="80" alt="call"/>
            <img src="/SVG/whatsapp.svg" height="80" width="80" alt="call"/>
        </div>
        <!-- </div> -->
        </Card>
    <div>
        <p class="m-0 p-0 parr-responsive" style="margin-bottom: 6px;">Oficina: 787.680.2088</p>
        <p class="m-0 p-0 parr-responsive" style="margin-bottom:2rem;">Teléfono: 787.925.6612</p>
    </div>

    <Card>
<div class="card-content">
	<div style="display: flex; gap:16px;">
		<img src="/SVG/facebook.svg" height="80" width="80"/>
    <div style="display:flex; flex-direction: column; justify-content: center;">
		<h2 class="m-0">Facebook</h2>
        <p class="m-0">Follow us!</p>
	</div>
    </div>
    <img src="https://cdn-icons-png.flaticon.com/512/269/269054.png" alt="" height="80" width="80">
</div>

    </Card>


    <div>
        <div>
            <h2>¡Ubicanos con un click!</h2>
            <p>En google maps.</p>
        </div>
        <div>
            <img src="/SVG/maps.svg" alt="location" height="80" width="80">
        </div>
    </div>

    <Card>
        <img src="/SVG/www.svg" alt="" height="80" width="80">
        <div>
            <h2>Visítanos</h2>
            <p>En nuestra página web.</p>
        </div>
        <img src="" alt="">
    </Card>

    <Card>
        <img src="/SVG/linkedin.svg" alt="" height="80" width="80">
        <div>
            <h2>Visítanos</h2>
            <p>En nuestra página web.</p>
        </div>
        <img src="" alt="">
    </Card>

    <p>Somos una organización que provee soluciones y servicios de consultoría, desarrollo e implementaciones.</p>

    <div>

        <img src="/SVG/team.svg" alt="" height="80" width={80}>
        <img src="/SVG/security.svg" alt="" height="80" width="80">
    </div>
    
</div>
        
    </main>
</Layout>

<style>

    main{
        background-color: green;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 768px;
        margin: 0 auto;
        color: #ffffff;
    }
    .main-background {
    background: url("/Image-100.jpg") no-repeat;
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the image within the element */
    min-height: 50vh;
    width: 100%;
    max-width: 768px;
    overflow: hidden; /* Hide any overflow */
    margin: 0 auto; /* Center the element horizontally */
}
    .borde-rounded{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .ItA-Lupa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("/Avatar.svg") no-repeat;
    background-size:auto; /* Ensure the background image fits within the element */
    background-position: center; /* Center the background image */
    height: 500px; /* Make the element as tall as its container */
    width: 100%; /* Make the element as wide as its container */
    margin-top: -10rem;
}
    .border-rounded{
        background-color: #ffffff;
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0 0px 80px 80px ;
        padding-bottom: 4rem;
        transition: all .5s ease;
    }
    .ItAuditorsLogo{
        background: url("/logo-original.svg") no-repeat;
        background-size: contain;	
        background-position:center; /* Position the image at the bottom */
        height: 300px;
        width:85%;
        margin: 0 auto;
        margin-top: -2rem;
    }

	.card-content{
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-evenly;
	}

	.paragraph-title{
		font-size: 26px;
		font-weight: 300;
	}
	
	.paragraph-general{

	}

	.parr-responsive{
			font-size: 26px; font-weight: 700; 
			
		}

    @media (max-width: 600px){


	.paragraph-general{
		font-size: ;
		
	}

		.paragraph-title{
			font-size: 20px;
			font-weight: 300;
		}
        .border-rounded{
            padding-bottom: 1rem;
            border-radius: 0 0px 50px 50px ;

        }
        .ItAuditorsLogo{
            margin-top: -3rem;
        }

        .icon-container img{
            height: 50px;
            width: 50px;
        }

		.card-content img{
			height: 50px;
			width: 50px;
		}
		.card-content p, h2{
			font-size: 18px;
		}

		.parr-responsive{
			font-size: 22px; font-weight: 700; 
			
		}

    }

	.m-0{
		margin: 0;
	}
	.p-0{
		padding: 0;
	}


    .icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:1rem .2rem;
    gap: 1rem; /* Add some space between the icons */
}
.contact-section{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}


.centered-paragraph {
    text-align: center;
}

</style>